body{
	background-image: url(https://images2.alphacoders.com/659/659390.jpg);
	text-align: center;
}

.text-muted{
	color: yellow;
	font-family: Times New Roman;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}